*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

.forgot {
  margin: 5px;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  font-family: "Titillium Web", sans-serif;
  height: 100vh;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.h2 {
  color: rgb(0, 0, 0);
  margin: 0px;
  font-size: 3em;
}

.form {
  background: white;
  padding: 20px;
  width: 30%;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
  text-align: center;
}

.field-wrap {
  margin: 20px;
}

input {
  text-align: center;
  border: none;
  background: linear-gradient(50deg, rgb(60, 60, 60), rgb(50, 50, 50));
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  border-radius: 5px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.233);
}

button {
  border: none;
  font-size: 1.4em;
  width: 40%;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0px 4px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.logout {
  background: linear-gradient(50deg, rgb(255, 176, 58), rgb(255, 75, 84))
    no-repeat;
  box-shadow: 0 2px 8px rgba(255, 176, 58, 1);
}

.submit {
  background: linear-gradient(50deg, rgb(163, 255, 58), rgb(75, 255, 156))
    no-repeat;
  box-shadow: 0 2px 8px rgba(163, 255, 58, 1);
  color: black;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 900px) {
  .form {
    width: 90%;
  }
}
